<!DOCTYPE html>
<html>

<head>
  <title>Coming Soon</title>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.7.3/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
</head>

<body>
  <main>
    <div class="flex min-h-[calc(100vh-4rem)] items-center justify-center py-10 text-center">
      <div>
        <div class="flex flex-col items-center justify-center gap-6 xl:flex-row">
          <!-- <div data-tip="copy" class="tooltip tooltip-accent"><button
              class="btn btn-sm cursor-copy rounded-full font-mono font-light">
              <pre><code></code></pre>
            </button>
          </div> -->
          <div class="flex gap-2 font-mono text-xs"><a class="link link-hover text-base-content/70 italic"
              href="https://rentakloud.com" target="_blank" rel="noopener, noreferrer">Powered by RentAKloud</a></div>
        </div>

        <div class="h-4"></div>

        <h1
          class="font-title text-center text-[clamp(2rem,6vw,4.2rem)] font-black leading-[1.1] [word-break:auto-phrase] [:root[dir=rtl]_&amp;]:leading-[1.35]">
          <span
            class="[&amp;::selection]:text-base-content brightness-150 contrast-150 [&amp;::selection]:bg-blue-700/20">
            Something Amazing
          </span>
          <br>
          <span class="inline-grid">
            <span
              class="pointer-events-none col-start-1 row-start-1 bg-[linear-gradient(90deg,theme(colors.error)_0%,theme(colors.secondary)_9%,theme(colors.secondary)_42%,theme(colors.primary)_47%,theme(colors.accent)_100%)] bg-clip-text blur-xl [-webkit-text-fill-color:transparent] [transform:translate3d(0,0,0)] before:content-[attr(data-text)] [@supports(color:oklch(0_0_0))]:bg-[linear-gradient(90deg,oklch(var(--s))_4%,color-mix(in_oklch,oklch(var(--s)),oklch(var(--er)))_22%,oklch(var(--p))_45%,color-mix(in_oklch,oklch(var(--p)),oklch(var(--a)))_67%,oklch(var(--a))_100.2%)]"
              aria-hidden="true" data-text="Coming Soon"></span>
            <span
              class="[&amp;::selection]:text-base-content relative col-start-1 row-start-1 bg-[linear-gradient(90deg,theme(colors.error)_0%,theme(colors.secondary)_9%,theme(colors.secondary)_42%,theme(colors.primary)_47%,theme(colors.accent)_100%)] bg-clip-text [-webkit-text-fill-color:transparent] [&amp;::selection]:bg-blue-700/20 [@supports(color:oklch(0_0_0))]:bg-[linear-gradient(90deg,oklch(var(--s))_4%,color-mix(in_oklch,oklch(var(--s)),oklch(var(--er)))_22%,oklch(var(--p))_45%,color-mix(in_oklch,oklch(var(--p)),oklch(var(--a)))_67%,oklch(var(--a))_100.2%)]">
              Coming Soon
            </span>
          </span>
          <br>
          <span
            class="[&amp;::selection]:text-base-content brightness-150 contrast-150 [&amp;::selection]:bg-blue-700/20">
            Your Way
          </span>
        </h1>
        <div class="h-4"></div>
        <p class="text-base-content/70 font-title py-4 font-light md:text-lg xl:text-2xl">
          Your website is up and ready to go.<br />This page means you've successfully connected your domain to <span
            class="border-base-content/20 border-b-2">RentAKloud servers.</span>
        </p>

        <div class="h-10"></div>

        <div>
          <div
            class="inline-flex w-full flex-col items-stretch justify-center gap-2 px-4 md:flex-row xl:px-0">
            <!-- <a href="/components/" class="btn md:btn-lg md:btn-wide group rounded-full px-12">
              <span class="hidden sm:inline">See components</span>
              <span class="inline sm:hidden">Components</span>
            </a> -->
            <a href="https://rentakloud.com/support" class="btn btn-neutral md:btn-lg md:btn-wide group rounded-full px-12">What do I do next?
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                stroke="currentColor" class="hidden h-6 w-6 transition-transform duration-300 group-hover:translate-x-1 rtl:rotate-180 rtl:group-hover:-translate-x-1 md:inline-block">
                <path stroke-linecap="round" stroke-linejoin="round" d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3">
                </path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </main>
</body>

</html>